html, body {
  height: 100%; /* Asegúrate de que el html y el body ocupen toda la altura */
  margin: 0; /* Elimina el margen por defecto del body */
  padding: 0; /* Elimina el padding por defecto del body */
}
/* Estructura general */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Cambiar a flex-start para mantener todo en su lugar */
  height: 94.7vh;
  position: relative;
  background-color: #e9f5f8; /* Fondo suave para un aspecto profesional */
  font-family: 'Poppins', sans-serif; /* Aplicar fuente Poppins */
  padding-top: 50px; /* Espacio en la parte superior para el título */
}

.title {
  margin: 0; /* Eliminar márgenes */
  font-size: 100px; /* Tamaño de fuente */
  color: #007acc; /* Color celeste */
  text-align: center;
}


/* Reloj en la esquina superior derecha */
.time {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 60px; /* Tamaño de fuente reducido para el reloj */
  color: #333333; /* Texto en negro */
  font-weight: bold; /* Para que resalte más */
}

/* Tabla de la lista */
.city-table {
  border-collapse: collapse;
  width: 80%; /* Ancho adaptable */
  table-layout: fixed; /* Establece el layout de la tabla como fijo */
  margin-top: 20px; /* Margen superior para separarla del título */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Para aplicar bordes redondeados */
}

.city-table thead {
  background-color: #007acc; /* Color celeste para el encabezado */
  color: #ffffff; /* Texto blanco en el encabezado */
}

.city-table th {
  text-align: center;
  border: none; /* Sin borde en el encabezado */
  padding: 20px; /* Padding más sutil */
  font-size: 50px; /* Tamaño de fuente reducido para celdas */
  background-color: #6bb8ff; /* Color al pasar el ratón sobre la fila */

}

.city-table td {
  text-align: center;
  border: none; /* Sin borde en el encabezado */

  width: 200px; /* Ancho fijo para las celdas */
  height: 40px; /* Alto fijo para las celdas */
 /* Borde gris claro */
  color: #333333; /* Texto en negro para celdas */
  overflow: hidden; /* Oculta el contenido que excede el área de la celda */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el texto es demasiado largo */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  font-size: 40px; /* Tamaño de fuente reducido para celdas */
  background-color: #ffffff; /* Fondo blanco para celdas */
  font-weight: bold; /* Aumentar el grosor de la letra */
  padding: 10px;

}

.city-table tr:nth-child(odd) td {
  background-color: #fdecc8; /* Color naranja cálido para filas impares */
  color: #000000; /* Texto en blanco para mejor contraste */
}

.city-table tr:nth-child(even) td {
  background-color: #b5f4ff; /* Color celeste para filas pares */
  color: #000000; /* Texto en blanco para mejor contraste */
}


.resaltar {
  color: red !important;
  font-size: 50px !important;
  font-weight: bold !important;
}